In [1]:
import pandas as pd
from pycaret.datasets import get_data
from pycaret.classification import setup, compare_models

In [3]:
file_path = "./step_2_modified_df_credit_train.csv"
df = pd.read_csv(file_path)
df.head()

,Customer_ID,Month,Name,Age,Occupation,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,CUS_0xd40,January,Aaron Maashoh,23.0,Scientist,1824.843333,3,4,3,4.0,...,4.0,_,809.98,26.822620,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,CUS_0xd40,March,Aaron Maashoh,-500.0,Scientist,NaN,3,4,3,4.0,...,4.0,Good,809.98,28.609352,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
2,CUS_0xd40,April,Aaron Maashoh,23.0,Scientist,NaN,3,4,3,4.0,...,4.0,Good,809.98,31.377862,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
3,CUS_0xd40,July,Aaron Maashoh,23.0,Scientist,1824.843333,3,4,3,4.0,...,4.0,Good,809.98,22.537593,No,49.574949,178.344067,Low_spent_Small_value_payments,244.565317,Good
4,CUS_0xd40,August,NaN,23.0,Scientist,1824.843333,3,4,3,4.0,...,4.0,Good,809.98,23.933795,No,49.574949,24.785217,High_spent_Medium_value_payments,358.124168,Standard

In [4]:
import pandas as pd
from pycaret.classification import setup, compare_models


# Initialize setup
clf1 = setup(data=df, target='Credit_Score')

# Compare models
best = compare_models(sort='Accuracy')